body{
	/*background: #F3A1B2;*/
}
.wrapper{
	width: 960px;
	background: #fff;
	margin: 0 auto;
	padding: 10px 18px 60px;
	border: 1px solid #334455;
	border-top:0;
}
.tsvInput,
.htmlOutput{
	width: 952px;
	height: 200px;
}
.btnConvert{
	text-align: center;
}
.btnConvert input{
	width: 11em;
	height: 3em;
	background: #F3A1B2;
	border: 1px solid #F26E82;
	color: #DF425A;
	font-weight: bold;
}
.btnConvert input:hover{
	background: #FFE4E9;
	color: #F5768A;
	border: 1px solid #F5768A;
}
